/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* COLORS */
:root {
  --color-tomato: hsl(4, 100%, 67%);
  --color-tomato-light: hsl(5, 100%, 95%);

  --color-dark-slate-grey: hsl(234, 29%, 20%);
  --color-charcoal-grey: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
}
