/* MAIN */
body {
  min-width: 320px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-dark-grayish-blue);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 82px;
  padding-right: 82px;
}

.section {
  padding-top: 28px;
  padding-bottom: 28px;
}
