/* MAIN */
html {
  font-size: 15px;
}

body {
  min-width: 290px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-off-white);
  color: var(--color-dark-grayish-blue);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 165px;
  padding-right: 165px;
}
