@use '_variables' as *;

/* MEDIA */
@media (max-width: 1024px) {
  .header {
    padding-top: 40px;
    &__container {
      max-width: initial;
      align-items: flex-start;
      flex-direction: column;
    }
    &__logo {
      margin: 0;
      margin-bottom: 30px;
    }
    &__menu-list {
      max-width: 300px;
    }
  }
  .carousel {
    &__container {
      flex-direction: column;
    }
    &__image-wrapper {
      min-width: initial;
    }
    &__images {
      width: initial;
      min-width: initial;
      min-height: 360px;
    }
    &__image {
      width: 100%;
    }
    &__block {
      max-width: initial;
      padding: clamp(50px, 8vw, 100px);
    }

    &__nav-btn-block {
      top: -60px;
      right: 0;
      left: initial;
    }
    &__nav-btn {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 768px) {
  #menu-button:checked~.header__button {
    background-image: url('../images/icon-close.svg');
  }
  #menu-button:checked~.header__nav-block {
    top: 0;
  }
  .header {
    padding-top: 48px;
    &__container {
      padding-left: 24px;
      padding-right: 43px;
      flex-direction: row;
    }
    &__logo {
      margin: 0 auto;
    }
    &__button {
      display: block;
      width: 20px;
      height: 20px;
      background-image: url('../images/icon-hamburger.svg');
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 1;
    }
    &__nav-block {
      position: absolute;
      width: 100%;
      left: 0;
      top: -100%;
      background-color: $white;
      transition: top ease-in-out .5s;
    }
    &__menu-list {
      padding: 48px 23px 44px 60px;
      max-width: initial;
      justify-content: flex-end;
    }
    &__menu-item {
      color: $black;
    }
  }
  .carousel {
    &__block {
      padding: 60px 32px;
      padding-bottom: 71px;
    }
    &__nav-btn-block {
      top: -56px;
    }
    &__nav-btn {
      width: 56px;
      height: 56px;
      background-size: 10px;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 2.57rem;
      line-height: 2.5rem;
    }
    &__description {
      margin-bottom: 41px;
    }
    &__btn::after {
      right: -62px;
    }
  }
  .about {
    &__container {
      flex-direction: column;
    }
    &__image {
      max-height: 240px;
    }
    &__block {
      padding: 50px 32px;
      padding-bottom: 40px;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 0.91rem;
    }
    &__description {
      font-size: 1.01rem;
      line-height: 1.47rem;
    }
  }
}
