@use "../base/common" as var;

.footer {
  padding-top: 297px;
  &--padding {
    padding-top: 80px;
    & .footer__container {
      padding-top: 72px;
    }
  }
  &__block {
    position: relative;
    background-color: var.$color-black;
  }
  &__cta-block {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: -56%;
    max-width: 1111px;
    width: 77%;
    max-width: 1590px;
    padding: 78px 95px 72px;
    background-color: var.$color-peach;
    background-image: url("../assets/images/shared/desktop/bg-pattern-call-to-action.svg");
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 15px;
    &--hidden {
      display: none;
    }
  }
  &__cta-wrapper {
    max-width: 459px;
  }
  &__cta-title {
    max-width: 300px;
    margin-bottom: 22px;
    font-size: 2.2rem;
    line-height: 100%;
  }
  &__cta-description {
  }
  &__cta-btn {
    padding: 17px;
  }
  &__container {
    padding-top: 144px;
    padding-bottom: 67px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-bottom: 40px;
    border-bottom: 1px solid #9797971a;
  }
  &__logo {
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
  }
  &__contacts {
    display: flex;
    max-width: 578px;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    font-size: 1.09rem;
    font-style: normal;
    color: #ffffff80;
  }
  &__address-block {
    display: flex;
    flex-direction: column;
  }
  &__office-title {
  }
  &__address {
    max-width: 200px;
  }
  &__contact-block {
    display: flex;
    flex-direction: column;
  }
  &__contact-title {
  }
  &__social-block {
    display: flex;
    gap: 16px;
    line-height: 0;
  }
  &__social-item svg path {
    transition: fill ease-in-out 0.3s;
  }
}

/* Hover */
@media (hover: hover) {
  .footer {
    &__social-item:hover svg path {
      fill: var.$color-light-peach;
    }
  }
}

/* Media */
@media (max-width: var.$tablet) {
  .footer {
    padding-top: 278px;
    &--padding {
      padding-top: 60px;
    }
    &__container {
      padding-top: 163px;
    }
    &__cta-block {
      width: 90%;
      padding: 55px;
      flex-direction: column;
      top: -64%;
      background-position: left center;
    }
    &__cta-wrapper {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      max-width: 440px;
      margin-bottom: 32px;
    }
    &__cta-title {
      margin-bottom: 13px;
      line-height: 115%;
    }
    &__top {
      margin-bottom: 33px;
    }
    &__contacts {
      max-width: 430px;
    }
  }
}

@media (max-width: var.$mobile) {
  .footer {
    padding-top: 251px;
    &--padding {
      padding-top: 0px;
    }
    &__cta-block {
      width: 87%;
      top: -23%;
      padding: 62px 24px;
    }
    &__cta-title {
      font-size: 2rem;
      letter-spacing: initial;
    }
    &__container {
      padding-top: 253px;
      padding-bottom: 63px;
    }
    &__top {
      margin-bottom: 33px;
      padding: 0;
      gap: 26px;
      border-bottom: none;
      flex-direction: column;
      align-items: center;
    }
    &__logo-link {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 327px;
      padding-bottom: 32px;
      border-bottom: 1px solid #ffffff1a;
    }
    &__bottom {
      flex-direction: column;
      align-items: center;
      gap: 41px;
    }
    &__contacts {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
    }
  }
}
