@use "../base/common" as var;

.header {
  padding: 64px 0;
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &__logo {
    max-height: 27px;
  }
  &__burger-btn {
    display: none;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
  }
}

/* Media */
@media (max-width: var.$mobile) {
  .header {
    padding: 35px 0;
    &__burger-btn {
      display: block;
      opacity: 1;
    }
  }
}
