@use "../base/common" as var;

.hero-about {
  padding-bottom: 80px;
  &__container {
  }
  &__block {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 92px;
    padding-right: 82px;
    background-color: var.$color-peach;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url("../assets/images/about/desktop/bg-pattern-hero-about-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  &__title {
    margin-bottom: 32px;
  }
  &__description {
    max-width: 458px;
    min-width: 280px;
  }
  &__img-wrapper {
    max-width: 476px;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &__img {
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: var.$tablet) {
  .hero-about {
    padding-top: 7px;
    padding-bottom: 60px;
    &__block {
      flex-direction: column;
      border-radius: 15px;
    }
    &__content {
      padding: 64px;
      order: 1;
      border-radius: 0;
      align-items: center;
      background-position: bottom -30% left -260%;
    }
    &__description {
      max-width: 100%;
      text-align: center;
    }
    &__img-wrapper {
      max-width: 100%;
    }
    &__img {
      width: 100%;
      max-width: initial;
      max-height: 320px;
    }
  }
}

@media (max-width: var.$mobile) {
  .hero-about {
    padding-top: 0;
    padding-bottom: 0;
    &__block {
      border-radius: initial;
    }
    &__content {
      padding: 73px 24px;
      padding-bottom: 79px;
      background-position: top -159% right -3%;
      background-size: 80%;
    }
    &__title {
      margin-bottom: 18px;
      font-size: 2rem;
    }
    &__description {
      font-size: 0.94rem;
      line-height: 1.57rem;
    }
  }
}
