@use "../base/common" as var;

.hero-design {
  &__content {
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var.$color-peach;
    background-position: center right;
    background-repeat: no-repeat;
    border-radius: 15px;
    &--web-bckg {
      background-image: url("../assets/images/web-design/desktop/bg-pattern-intro-web.svg");
    }
    &--app-bckg {
      background-image: url("../assets/images/app-design/desktop/bg-pattern-intro-app.svg");
      background-position: center left;
    }
    &--graphic-bckg {
      background-image: url("../assets/images/graphic-design/desktop/bg-pattern-intro-graphic.svg");
      background-position: center left;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
  &__description {
    max-width: 400px;
  }
  &::before {
    top: 285px;
  }
}

@media (max-width: var.$tablet) {
  .hero-design {
    &__content {
      background-position: center;
      background-image: url("../assets/images/shared/tablet/bg-pattern-design-pages-intro-tablet.svg");
    }
  }
}

@media (max-width: var.$mobile) {
  .hero-design {
    &__content {
      padding: 98px 22px;
      padding-bottom: 106px;
      border-radius: initial;
      background-position: top right;
      background-image: url("../assets/images/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
    }
    &__title {
      margin-bottom: 17px;
      font-size: 2rem;
    }
    &__description {
      font-size: 0.95rem;
      line-height: 1.563rem;
    }
  }
}
