@use "../base/common" as var;

.locations {
  padding-bottom: 80px;
  &__container {
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    & li:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__text-block {
    width: 100%;
    padding: 88px 95px;
    background-color: var.$color-lighter-peach;
    border-radius: 15px;
    background-image: url("../assets/images/shared/desktop/bg-pattern-two-circles.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  &__title {
    margin-bottom: 24px;
    font-size: 2.3rem;
    color: var.$color-peach;
  }
  &__address-block {
    display: flex;
    gap: 112px;
    color: var.$color-dark-grey;
  }
  &__address {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 175px;
  }
  &__address-title {
    font-size: 1.05rem;
    color: var.$color-dark-grey;
    letter-spacing: initial;
  }
  &__address-text {
  }
  &__contact {
    display: flex;
    flex-direction: column;
    min-width: 165px;
  }
  &__map {
    min-width: 198px;
    max-width: 350px;
    width: 100%;
    height: 326px;
    border-radius: 15px;
  }
}

@media (max-width: var.$tablet) {
  .locations {
    padding-bottom: 100px;
    &__block {
      gap: 115px;
      & li:nth-child(2n) {
        flex-direction: column-reverse;
      }
    }
    &__item {
      flex-direction: column-reverse;
    }
    &__text-block {
      padding: 89px 74px;
    }
    &__map {
      max-width: initial;
    }
  }
}

@media (max-width: var.$mobile) {
  .locations {
    padding-bottom: 60px;
    &__item {
      gap: 0;
    }
    &__block {
      gap: 40px;
    }
    &__text-block {
      padding: 68px 24px;
      padding-bottom: 78px;
      border-radius: initial;
      text-align: center;
    }
    &__title {
      margin-bottom: 17px;
      font-size: 2rem;
      letter-spacing: initial;
    }
    &__address-block {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__address-title {
      font-size: 1rem;
    }
    &__address-text {
      font-size: 0.93rem;
    }
    &__map {
      border-radius: initial;
    }
  }
}
