@use "../base/common" as var;

.projects {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  &__list {
    display: grid;
    min-height: 640px;
    grid-template-columns: 50% 50%;
    gap: 24px 15px;
    &--height {
      min-height: 308px;
      grid-template-rows: 100%;
      gap: 0 15px;
    }
  }
}

/* Media */
@media (max-width: var.$tablet) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
    &__list {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    &--bottom-padding {
      padding-bottom: 110px;
    }
  }
}

@media (max-width: var.$mobile) {
  .projects {
    &__list {
      gap: 24px;
    }
    &--bottom-padding {
      padding-bottom: 35px;
    }
  }
}
