/* COLORS */
/* Primary */
$color-peach: #E7816B;
$color-black: #1D1C1E;
$color-white: #FFFFFF;
/* Secondary */
$color-light-peach: #FFAD9B;
$color-dark-grey: #333136;
$color-light-grey: #F1F3F5;

/* IDENTS */
$side-padding: 165px;

/* MEDIA */
$tablet: 1024px;
$mobile: 768px;
