/* COLORS */
/* Primary */
$color-peach: #e7816b;
$color-black: #1d1c1e;
$color-white: #ffffff;
/* Secondary */
$color-light-peach: #ffad9b;
$color-lighter-peach: #fdf3f0;
$color-dark-grey: #333136;
$color-light-grey: #f1f3f5;

/* IDENTS */
:root {
  --side-padding: 165px;
}

/* MEDIA */
$desktop: 1199px;
$tablet: 1023px;
$mobile: 767px;

/* Media */
@media (max-width: $desktop) {
  :root {
    --side-padding: 80px;
  }
}
@media (max-width: $tablet) {
  :root {
    --side-padding: 40px;
  }
}
@media (max-width: $mobile) {
  :root {
    --side-padding: 0;
  }
}
