/* COLORS */
/* Primary */
$color-peach: #e7816b;
$color-black: #1d1c1e;
$color-white: #ffffff;
/* Secondary */
$color-light-peach: #ffad9b;
$color-lighter-peach: #fdf3f0;
$color-dark-grey: #333136;
$color-light-grey: #f1f3f5;

/* IDENTS */
$side-padding: 165px;

/* MEDIA */
$tablet: 1024px;
$mobile: 768px;
