/* MAIN */
body {
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--color-light-grayish-cyan);
  color: var(--color-very-dark-cyan);
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.tip-calculator {
  max-width: 920px;
  margin: 0 auto;
  padding-top: 163px;
  padding-bottom: 163px;
}

.tip-calculator__logo {
  margin: auto;
  margin-bottom: 87px;
}

.tip-calculator__wrapper {
  display: flex;
  padding: 32px;
  gap: 15px;
  border-radius: 25px;
  background-color: var(--color-white);
}

.tip-calculator__data-wrapper {
  width: 50%;
  padding: 16px;
}

.tip-calculator__data {
  display: flex;
  flex-direction: column;
}

.tip-calculator__data-title {
  margin-bottom: 9px;
  font-size: 16px;
  color: var(--color-dark-grayish-cyan);
}

.tip-calculator__data-title_margin {
  margin-bottom: 18px;
}

.tip-calculator__input {
  max-width: 378px;
  min-height: 47px;
  padding-right: 17px;
  text-align: right;
  border-radius: 10px;
  color: var(--color-very-dark-cyan);
  background-color: var(--color-very-light-grayish-cyan);
  background-repeat: no-repeat;
  background-position: center left 18px;
}

.tip-calculator__input:focus {
  outline: 2px solid var(--color-strong-cyan);
}

.tip-calculator__input_bill {
  margin-bottom: 44px;
  background-image: url('../images/icon-dollar.svg');
}

.tip-calculator__input_person {
  background-image: url('../images/icon-person.svg');
}

.tip-calculator__tip-list {
  display: flex;
  margin-bottom: 44px;
  gap: 16px 11px;
  flex-wrap: wrap;
}

.tip-calculator__tip-item {
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-very-light-grayish-cyan);
  background-color: var(--color-very-dark-cyan);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.tip-calculator__tip-button:active {
  /* background-color: var(--color-strong-cyan); */
}

.tip-calculator__tip-item_custom {}

.tip-calculator__tip-item_custom-field {
  display: none;
  padding: 0;
  background-color: transparent;
}
.tip-calculator__input_tip {
  width: 100%;
  border-radius: 3px;
  background-color: var(--color-very-light-grayish-cyan);
}

.tip-calculator__result-wrapper {
  display: flex;
  width: 48%;
  padding: 50px 38px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--color-very-dark-cyan);
}

.tip-calculator__result {
  display: flex;
  gap: 42px;
  flex-direction: column;
}

.tip-calculator__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tip-calculator__title-block {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.tip-calculator__result-title {
  font-size: 16px;
  color: var(--color-very-light-grayish-cyan);
}

.tip-calculator__result-subtitle {
  font-size: 14px;
  color: var(--color-grayish-cyan);
}

.tip-calculator__result-data {
  color: var(--color-strong-cyan);
  font-size: 48px;
}

.tip-calculator__total-wrapper {}

.tip-calculator__main-button {
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  color: var(--color-very-dark-cyan);
  background-color: var(--color-strong-cyan);
  transition: background-color 0.3s ease-in-out;
}

.tip-calculator__main-button:hover {
  background-color: var(--color-light-grayish-cyan);
}
