# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Diagnostic reports
report.*.json

# Dependency directories
node_modules/

# Build output
dist/

# Coverage
coverage/
*.lcov
.nyc_output

# Misc
.env
.env.*
.eslintcache
.cache/
*.tgz

# Editor/IDE
.vscode/
.idea/

# REPL history
.node_repl_history
