/* MAIN */
body {
    min-width: 375px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    background-color: var(--color-very-light-gray);
    color: var(--color-very-dark-blue);
}

.container {
    display: block;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.project-structure {
    display: flex;
    padding-top: 81px;
    padding-bottom: 81px;
    gap: 66px;
    flex-direction: column;
    align-items: center;
}

.project-structure__title-block {
  max-width: 510px;
  margin: auto;
}

.project-structure__title {
  margin-bottom: 20px;
}

.project-structure__title-line {
  display: block;
  font-size: 37px;
  line-height: 49px;
  font-weight: 200;
}

.project-structure__title-line_bold {
  font-weight: 600;
}

.project-structure__description {
  line-height: 24px;
  font-size: 15px;
}
.project-structure__cards {
  display: flex;
  gap: 30px;
  align-items: center;
}
.project-structure__card-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* CARD */
.project-structure__card {
  border-radius: 10px;
  box-shadow: 0 8px 15px 8px var(--color-lite-blue);
}

.project-structure__card_cyan {
  background: linear-gradient(to bottom, var(--color-cyan) 4px, var(--color-white) 4px);
}

.project-structure__card_red {
  background: linear-gradient(to bottom, var(--color-red) 4px, var(--color-white) 4px);
}

.project-structure__card_orange {
  background: linear-gradient(to bottom, var(--color-orange) 4px, var(--color-white) 4px);
}

.project-structure__card_blue {
  background: linear-gradient(to bottom, var(--color-blue) 4px, var(--color-white) 4px);
}

.project-structure__card-wrapper {
  display: flex;
  max-width: 350px;
  min-height: 250px;
  padding: 33px;
  flex-direction: column;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: bottom 30px right 30px;
}

.project-structure__card-wrapper_supervisor {
  background-image: url('../images/icon-supervisor.svg');

}

.project-structure__card-wrapper_builder {
  background-image: url('../images/icon-team-builder.svg');
}

.project-structure__card-wrapper_karma {
  background-image: url('../images/icon-karma.svg');
}

.project-structure__card-wrapper_calculator {
  background-image: url('../images/icon-calculator.svg');
}

.project-structure__card-title {
  margin-bottom: 14px;
  text-align: start;
  font-size: 20px;
}
.project-structure__card-description {
  margin-bottom: 60px;
  text-align: left;
  line-height: 22px;
  font-size: 13px;
}


/* MEDIA */
@media (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .project-structure {
    gap: 77px;
  }

  .project-structure__title {
    margin-bottom: 14px;
  }

  .project-structure__title-line {
    font-size: 24px;
    line-height: 39px;
  }

  .project-structure__description {
    font-size: 15px;
  }

  .project-structure__cards {
    flex-wrap: wrap;
    gap: 25px;
  }

  .project-structure__card-block {
    width: 100%;
    gap: 23px;
  }

  .project-structure__card-wrapper {
    max-width: 100%;
    min-height: 222px;
    padding: 29px;
    background-size: 17%
  }

  .project-structure__card-title {
    margin-bottom: 8px;
  }

  .project-structure__card-description {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .project-structure__card-description {
    max-width: initial;
  }
}
