/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap');

/* COLORS */
$white: hsl(0, 0%, 100%);
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$lite-grey: hsl(0, 0%, 97%);
$liter-grey: hsl(236, 14%, 40%);
$grey: hsl(0, 0%, 90%);
$very-dark-blue: hsl(229, 31%, 21%);
$very-dark-blue90: hsla(229, 31%, 21%, 0.9);

// MIXIN
@mixin section-decor($left, $right, $bottom, $height) {
  content: "";
  position: absolute;
  width: 150vw;
  height: $height;
  right: $right;
  bottom: $bottom;
  left: $left;
  border-radius: 171px;
  background-color: $soft-blue;
}

/* MAIN */
body {
  min-width: 320px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: $white;
  color: $grayish-blue;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 165px;
  padding-right: 165px;
}

.title {
  margin-bottom: 27px;
  font-size: 2.65rem;
  line-height: 2.9rem;
  color: $very-dark-blue;
  font-weight: 500;
}

.subtitle {
  margin-bottom: 24px;
  font-size: 1.77rem;
  font-weight: 500;
  color: $very-dark-blue;
}

.btn {
  padding: 14px 25px;
  background-color: $soft-blue;
  border-radius: 5px;
  font-size: 0.82rem;
  color: $white;
  text-align: center;
  box-shadow: 0px 7px 20px -8px $grayish-blue;
}

.second-btn {
  background-color: $lite-grey;
  color: $very-dark-blue;
}

// STATES
.link {
  transition: color ease-in-out 0.3s;
}
.link:hover, .link:focus {
  color: $soft-red;
}
.link:focus-visible {
  outline: none;
}
.icon-link, .icon-link svg {
  transition: fill ease-in-out 0.3s;
}
.icon-link:focus, .icon-link:focus svg {
  fill: $soft-red;
}
.logo-link {
  border-bottom: 2px solid transparent;
  transition: border ease-in-out 0.3s;
}
.logo-link:focus {
  border-bottom: 2px solid $soft-red;
}
.btn {
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s, outline ease-in-out 0.1s;
}
.header__btn:hover, .header__btn:focus {
  background-color: transparent;
  color: $soft-red;
  outline: 2px solid $soft-red;
}
.main-btn:hover, .main-btn:focus {
  background-color: transparent;
  color: $soft-blue;
  outline: 2px solid $soft-blue;
}
.second-btn:hover, .second-btn:focus {
  background-color: transparent;
  color: $very-dark-blue;
  outline: 2px solid $very-dark-blue;
}
.contact__btn:hover, .contact__btn:focus {
  background-color: $white;
  color: $soft-red;
  outline: 2px solid $soft-red;
}

// SECTIONS
.header {
  padding-top: 50px;
  padding-bottom: 50px;
  &__container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: none;
  }
  &__mobile-menu {
    display: none;
  }
  &__logo-wrapper {
    min-width: 147px;
    transform: translateX(6px);
  }
  &__nav-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__nav-list {
    display: flex;
    gap: 20px 47px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__nav-item {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: $very-dark-blue;
    text-transform: uppercase;
  }
  &__btn {
    padding: 12px 31px;
    background-color: $soft-red;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: $grey;
    text-transform: uppercase;
  }
}

.hero {
  position: relative;
  padding-top: 54px;
  padding-bottom: 30px;
  overflow-x: hidden;
  &__container {
    display: flex;
    padding-right: 52px;
    gap: 30px
  }
  &__info-block {
    min-width: 450px;
    min-height: 180px;
    padding-top: 80px;
    z-index: 1;
  }
  &__title {
    opacity: 0;
  }
  &__description {
    margin-bottom: 34px;
    line-height: 1.5rem;
    opacity: 0;
  }
  &__button-group {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    transform: translateX(-150vw);
  }
  &__image {
    z-index: 1;
    object-fit: contain;
    transform: translateX(150vw);
  }
  &::before {
    @include section-decor(initial, -114%, 0, 353px)
  }
}

.features {
  position: relative;
  padding-top: 88px;
  padding-bottom: 88px;
  &__container {
    display: flex;
    padding-left: 170px;
    padding-right: 170px;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    max-width: 560px;
    margin-bottom: 74px;
    text-align: center;
    line-height: 1.5rem;
  }
  &__tab-nav {
    display: flex;
    margin-bottom: 70px;
    padding-bottom: 30px;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid $grey;
  }
  &__tab-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tab-block {
    display: flex;
    gap: 125px;
  }
  &__image-container {
    min-width: 535px;
    min-height: 416px;
    z-index: 1;
  }
  &__tab-info-block {
    padding: 65px 0;
  }
  &__tab-block-description {
    line-height: 1.5rem;
    margin-bottom: 46px;
  }
  &::before {
    @include section-decor(-106%, initial, 68px, 353px)
  }
}
.tab-btn {
  position: relative;
  min-width: 243px;
  font-size: 0.95rem;
  color: $grayish-blue;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    left: 0;
    bottom: -28px;
    background-color: $soft-red;
  }
}
.tab-active {
  color: $very-dark-blue;
  font-weight: 500;
  &::after {
    width: 100%;
  }
}

.download {
  padding-top: 87px;
  padding-bottom: 80px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    max-width: 550px;
    margin-bottom: 70px;
    line-height: 1.5rem;
    text-align: center;
  }
  &__list {
    display: flex;
    max-width: 912px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__item {
    min-width: 209px;
    max-width: 284px;
    flex: 1 1 209px;
    &_firefox {
      padding-top: 44px;
    }
    &_opera {
      padding-top: 79px;
    }
  }
  &__wrapper {
    padding: 26px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 25px -20px $soft-blue;
    background: url('../images/bg-dots.svg') no-repeat;
    background-position: center bottom 28%;
  }
  &__image {
    max-width: 100px;
    margin-bottom: 32px;
  }
  &__item-title {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: $very-dark-blue;
  }
  &__item-description {
    margin-bottom: 64px;
    font-size: 0.82rem;
  }
  &__btn {
    min-width: 232px;
    text-align: center;
  }
}

.faq {
  padding-top: 78px;
  padding-bottom: 150px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    max-width: 530px;
    margin-bottom: 57px;
    text-align: center;
    line-height: 1.5rem;
  }
  &__accordion {
    max-width: 542px;
    margin-bottom: 53px;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }
  &__accordion-item {
    padding: 23px 0;
    padding-right: 24px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }
  }
  &__accordion-title-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  &__accordion-arrow {
    stroke: $soft-blue;
  }
  &__accordion-title {
    max-width: 475px;
    font-size: 0.98rem;
    font-weight: 400;
    color: $very-dark-blue;
  }
  &__accordion-description {
    font-size: 0.9rem;
    line-height: 2rem;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
}

.contact {
  display: flex;
  padding-top: 70px;
  padding-bottom: 75px;
  background-color: $soft-blue;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__info {
    display: block;
    margin-bottom: 40px;
    letter-spacing: 5px;
    font-size: 0.71rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
  }
  &__title {
    max-width: 430px;
    margin-bottom: 37px;
    font-size: 1.76rem;
    line-height: 2.1rem;
    font-weight: 500;
    color: $white;
  }
  &__form {
    display: flex
  }
  &__input-wrapper {
    position: relative;
    width: 300px;
    margin-right: 11px;
  }
  &__input {
    position: inherit;
    width: 100%;
    min-height: 48px;
    padding: 0 20px;
    border-radius: 6px;
    &::placeholder {
      color: $grayish-blue;
      font-size: 0.8rem;
    }
    z-index: 1;
  }
  &__input-error {
    position: absolute;
    display: none;
    width: 102%;
    height: 152%;
    top: -3px;
    left: -3px;
    padding: 5px;
    padding-left: 13px;
    background-color: $soft-red;
    align-items: flex-end;
    border-radius: 8px;
    color: white;
    font-size: 0.6rem;
    font-style: italic;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      right: 20px;
      top: 25%;
      background: url('../images/icon-error.svg') no-repeat;
      z-index: 2;
    }
  }
  &__btn {
    max-height: 48px;
    background-color: $soft-red;
  }
}

.footer {
  padding-top: 31px;
  padding-bottom: 29px;
  background-color: $very-dark-blue;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    gap: 63px;
    align-items: center;
  }
  &__nav-list {
    display: flex;
    margin-right: 50px;
    gap: 20px 45px;
    flex-wrap: wrap;
  }
  &__nav-item {
    font-size: 0.77rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $grey;
  }
  &__social {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__social-icon {
    fill: $white;
    transition: fill ease-in-out 0.3s;
    &:hover, &:focus {
      fill: $soft-red;
    }
  }
}
