@use '_main' as *;

/* MEDIA */
@media (max-width: 1200px) {
  .container {
    padding-right: 80px;
    padding-left: 80px;
  }
  .hero {
    &__info-block {
      padding-top: 40px;
    }
  }
  .features {
    &__tab-block {
      gap: 50px;
      align-items: center;
    }
    &__image {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .title {
    text-align: center;
  }

  .hero {
    &__container {
      flex-direction: column;
    }
    &__info-block {
      display: flex;
      min-width: initial;
      padding-top: 0;
      order: 1;
      flex-direction: column;
      align-items: center;
    }
    &__image {
      width: 100%;
    }
    &__description {
      text-align: center;
    }
    &::before {
      @include section-decor(initial, -64%, 30%, 353px)
    }
  }

  .features {
    padding-bottom: 44px;
    &__image-container {
      min-width: 400px;
    }
    &__tab-info-block {
      display: flex;
      min-width: 350px;
      padding: 50px 0;
      flex-direction: column;
      align-items: center;
    }
    &__tab-block {
      flex-direction: column;
    }
    &__tab-block-description {
      text-align: center;
    }
    &__image {
      width: 100%;
    }
    &::before {
      @include section-decor(-75%, initial, 30%, 353px)
    }
  }

  .download {
    padding-top: 44px;
    padding-bottom: 44px;
    &__list {
      gap: 20px;
    }
    &__btn {
      min-width: initial;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 26px;
    padding-left: 26px;
  }
  .title {
    margin-bottom: 17px;
    font-size: 1.65rem;
    line-height: 2.2rem;
  }
  .subtitle {
    margin-bottom: 12px;
    font-size: 1.3rem;
  }
  .btn {
    width: 100%;
    padding: 14px;
  }
  .header {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    // min-height: 100vh;
    // background-color: $very-dark-blue50;
    &__container {
      flex-direction: column;
    }
    &__logo-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__burger {
      display: block;
      width: 18px;
      height: 18px;
      background: url('../images/icon-hamburger.svg') no-repeat;
    }
    &__nav-wrapper {
      display: none;
      flex-direction: column;
    }
    &__nav-list {
      flex-direction: column;
    }

    &__mobile-menu {
      position: fixed;
      display: flex;
      width: 100vw;
      min-height: 100vh;
      padding: 40px 32px;
      top: 0;
      left: 110%;
      z-index: 5;
      background-color: $very-dark-blue90;
      flex-direction: column;
      align-items: center;
    }
    &__mobile-menu-logo-wrapper {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      align-items: center;
      justify-content: space-between;
    }
    &__mobile-menu-close {
      width: 16px;
      height: 16px;
      background: url('../images/icon-close.svg') no-repeat;
    }
    &__mobile-menu-nav {
      width: 100%;
      margin-bottom: 27px;
    }
    &__mobile-menu-nav-list {
      text-align: center;
      border-bottom: 1px solid $liter-grey;
      border-top: 1px solid $liter-grey;
    }
    &__mobile-menu-nav-item {
      padding: 21px 0;
      text-transform: uppercase;
      font-size: 1.1rem;
      letter-spacing: 3px;
      color: $white;
      &:not(:last-child) {
        border-bottom: 1px solid $liter-grey;
      }
    }
    &__mobile-menu-btn {
      width: 100%;
      max-width: 300px;
      margin-bottom: 40px;
      padding: 10px 31px;
      background-color: transparent;
      outline: 2px solid $white;
      text-align: center;
      font-size: 1.1rem;
      box-shadow: initial;
    }
    &__mobile-menu-social {
      display: flex;
      gap: 35px;
      margin-top: auto;
      align-items: center;
    }
    &__mobile-menu-social-icon {
      fill: $white;
    }
  }
  .hero {
    padding-top: 36px;
    padding-bottom: 66px;
    &__container {
      gap: 58px;
      align-items: center;
    }
    &__image {
      max-width: initial;
      width: 109%;
    }
    &__description {
      margin-bottom: 28px;
      font-size: 0.87rem;
      line-height: 1.45rem;
    }
    &__button-group {
      width: 100%;
      gap: 10px;
      justify-content: center;
    }
    &__btn {
      max-width: 157px;
    }
    &::before {
      @include section-decor(initial, -69%, 57%, 201px)
    }
  }
  .features {
    padding-bottom: 14px;
    &__description {
      margin-bottom: 41px;
      font-size: 0.84rem;
      line-height: 1.4rem;
    }
    &__tab-nav {
      width: 100%;
      padding: 0;
      row-gap: 0;
      align-items: center;
      flex-direction: column;
      border-top: 1px solid $grey;
    }
    &__tab-item {
      width: 100%;
      text-align: center;
      &:not(:last-child) {
        border-bottom: 1px solid $grey;
      }
    }
    &__images {
      width: 100%;
    }
    &__image {
      width: 96%;
    }
    &__image-container {
      min-width: initial;
      min-height: initial;
    }
    &__tab-info-block {
      min-width: initial;
      padding: 33px 0;
    }
    &__tab-block-title {
      font-size: 1.33rem;
      margin-bottom: 11px;
    }
    &__tab-block-description {
      font-size: 0.85rem;
      line-height: 1.4rem;
    }
    &__tab-block-btn {
      max-width: 157px;
    }
    &::before {
      @include section-decor(-68%, initial, 30%, 203px)
    }
  }
  .tab-btn {
    padding: 19px 0;
  }
  .tab-active {
    &::after {
      width: 60%;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .download {
    padding-top: 14px;
    padding-bottom: 64px;
    &__description {
      margin-bottom: 59px;
      font-size: 0.85rem;
      line-height: 1.4rem;
    }
    &__list {
      width: 85%;
      gap: 63px;
      flex-direction: column;
    }
    &__item {
      &_firefox, &_opera {
        padding: 0;
      }
      // &_opera {
      //   padding: 0;
      // }
    }
    &__btn {
      max-width: 232px;
    }
  }

  .faq {
    padding-bottom: 126px;
    &__container {
    }
    &__subtitle {
      width: 80%;
      margin-bottom: 22px;
      text-align: center;
    }
    &__description {
      margin-bottom: 52px;
      font-size: 0.84rem;
      line-height: 1.33rem;
    }
    &__accordion {
      margin-bottom: 45px;
      border-top: initial
    }
    &__accordion-item {
      padding: 23px 5px;
    }
    &__accordion-title-wrapper {
      align-items: flex-start;
    }
    &__accordion-title {
      font-size: 0.8rem;
    }
    &__btn {
      width: 35%;
    }
  }

  .contact {
    padding-top: 73px;
    padding-bottom: 62px;
    &__info {
      margin-bottom: 11px;
      letter-spacing: 4px;
    }
    &__title {
      margin-bottom: 32px;
      font-size: 1.33rem;
      line-height: 1.6rem;
    }
    &__form {
      width: 100%;
      max-width: 300px;
      flex-direction: column;
    }
    &__input-wrapper {
      width: 100%;
      margin-bottom: 17px;
      margin-right: 0;
    }
    &__input {
      width: 100%;
    }
    &__input-error {

    }
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    &__container {
      gap: 47px;
      flex-direction: column;
    }
    &__block {
      gap: 40px;
      flex-direction: column;
    }
    &__nav-list {
      gap: 31px 45px;
      flex-direction: column;
      align-items: center;
    }
    &__nav-item {
      letter-spacing: 1px;
    }
    &__social {
      justify-content: center;
    }
  }
}
