@use "../base/common" as var;

.design-card {
  width: calc((100% - 30px * 2) / 3);
  min-width: 268px;
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
  }
  &__img {
    object-fit: cover;
    object-position: top;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    height: 100%;
    padding: 36px;
    padding-top: 22px;
    background-color: var.$color-lighter-peach;
    transition: background-color ease-in-out 0.3s;
  }
  &__title {
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
    color: var.$color-peach;
    text-transform: uppercase;
    transition: color ease-in-out 0.3s;
  }
  &__description {
    color: var.$color-dark-grey;
    transition: color ease-in-out 0.3s;
  }
}

/* Hover */
@media (hover: hover) {
  .design-card {
    &__link:hover &__wrapper {
      background-color: var.$color-peach;
    }
    &__link:hover &__wrapper h2,
    &__link:hover &__wrapper p {
      color: var.$color-white;
    }
  }
}

/* Media */
@media (max-width: var.$tablet2) {
  .design-card {
    width: 100%;
    &__link {
      flex-direction: row;
    }
    &__img {
      max-width: 50%;
    }
    &__wrapper {
      justify-content: center;
    }
  }
}

@media (max-width: var.$mobile) {
  .design-card {
    &__link {
      flex-direction: column;
    }
    &__img {
      max-width: 100%;
      min-height: 320px;
    }
    &__wrapper {
      padding-bottom: 31px;
    }
    &__title {
      margin-bottom: 5px;
    }
  }
}
