@use "../base/common" as var;

.menu-footer {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px 42px;
  }
  &__item {
    font-size: 0.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var.$color-white;
  }
}

@media (max-width: var.$mobile) {
  .menu-footer {
    &__list {
      gap: 19px 42px;
      flex-direction: column;
      text-align: center;
    }
  }
}
