@use "../base/common" as var;

.menu-footer {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px 42px;
  }
  &__item {
    position: relative;
    font-size: 0.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var.$color-white;
    &::after {
      content: "";
      position: absolute;
      width: 0px;
      height: 1px;
      bottom: 0px;
      left: 0;
      border-bottom: 1px solid var.$color-white;
      transition: width ease-in-out 0.3s;
    }
  }
}

/* Hover */
@media (hover: hover) {
  .menu-footer {
    &__item:hover::after {
      width: 100%;
    }
  }
}

@media (max-width: var.$mobile) {
  .menu-footer {
    &__list {
      gap: 19px 42px;
      flex-direction: column;
      text-align: center;
    }
  }
}
