@use '@/assets/styles/breakpoints' as *;

/* FONTS */
@font-face {
  font-family: "RedditSans";
  src: local("RedditSans"),
    url("@/assets/fonts/RedditSans-Regular.woff2") format("woff2"),
    url("@/assets/fonts/RedditSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedditSans";
  src: local("RedditSans"),
    url("@/assets/fonts/RedditSans-Medium.woff2") format("woff2"),
    url("@/assets/fonts/RedditSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedditSans";
  src: local("RedditSans"),
    url("@/assets/fonts/RedditSans-MediumItalic.woff2") format("woff2"),
    url("@/assets/fonts/RedditSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RedditSans";
  src: local("RedditSans"),
    url("@/assets/fonts/RedditSans-SemiBold.woff2") format("woff2"),
    url("@/assets/fonts/RedditSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedditSans";
  src: local("RedditSans"),
    url("@/assets/fonts/RedditSans-Bold.woff2") format("woff2"),
    url("@/assets/fonts/RedditSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bootstrap Customize */
$primary: #4865DB;
@import "bootstrap/scss/bootstrap";

:root {
  /* COLORS */
  /* Neutral */
  --neutral-900: #21214D;
  --neutral-600: #57577B;
  --neutral-300: #9393B7;
  --neutral-200: #CBCDD0;
  --neutral-0: #FFFFFF;
  /* Blue */
  --blue-700: #2A4CD5;
  --blue-600: #4865DB;
  --blue-200: #C7D3F7;
  --blue-100: #E0E6FA;
  /* Red */
  --red-700: #E60013;
  /* Other */
  --other-red-300: #FF9B99;
  --other-indigo-200: #B8B1FF;
  --other-blue-300: #89CAFF;
  --other-green-300: #89E780;
  --other-amber-300: #FFC97C;
  --shadow: #20252914;

  /* INDENTS */
  --containerPadding: 165px;


  /* Media */
  @include media-query-l {
    // --black-bckg: #191919;
    // --containerPadding: 40px;
    // --catBlocksGap: 10px;
  }
  @include media-query-md {
    --containerPadding: 80px;
  }
  @include media-query-sm {
    --containerPadding: 16px;
  }
}
