@use '@/assets/styles/breakpoints' as *;
@use '@/assets/styles/_typography' as *;

.stat {
  &__average-wrapper {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  &__average-title-block {
    display: flex;
    align-items: center;
  }
  &__average-title-block {
    display: flex;
    align-items: center;
  }
  &__average-descr-block {
    display: flex;
    align-items: flex-start;
  }
  &__average-img {
    margin-right: 16px;
  }
  &__average-title {
    margin-right: 5px;
    margin-bottom: 0;
    @include text-preset(preset5);
    color: var(--neutral-900);
  }
  &__average-arrow {
    margin-right: 8px;
  }
  &__average-note {
    @include text-preset(preset7);
  }
  &__average-block {
    display: flex;
    min-height: 150px;
    padding: 31px 20px;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background-image: url('/assets/images/bg-pattern-averages.svg');
    background-repeat: no-repeat;
    background-position-x: 260px;
    background-position-y: -70px;
    background-size: 100%;
  }
  &__average-info-title {
    margin: 0;
    @include text-preset(preset4);
    color: var(--neutral-900);
  }
  &__average-info-descr {
    margin: 0;
    max-width: 240px;
    @include text-preset(preset7);
  }

  /* Media */
  @include media-query-l {
    &__average-block {
      background-size: 35%;
      background-position: right -175px center;
    }
    &__average-info-descr {
      max-width: initial;
    }
  }
  @include media-query-sm {
    &__average-block {
      background-size: 85%;
      background-position: right -200px center;
    }
    &__average-info-descr {
      max-width: 207px;
    }
  }
}
