/* MAIN */
* {
  transition: color 0.3s ease, background-color 0.3s ease;
}

html {
  font-size: 18px;
}

body {
  min-width: 320px;
  font-family: "JosefinSans", sans-serif;
  font-weight: 400;
  background-color: var(--body-background);
  color: var(--body-color);
}

.section {
  height: 300px;
  padding-top: 74px;
  padding-bottom: 74px;
  background-image: var(--backgroung-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 740px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  color: var(--white);
}


// ANIMATION
// Done loading
.loading {
  position: absolute;
  top: 50%;
  transform: translate(-2px, -50%);
}
.loading-circles {
  width: 29px;
  height: 29px;
  margin: 0 auto;
  border: 3px double;
  border-radius: 50%;
  border-color: transparent rgb(137 162 250) rgb(180 102 245);
  animation: cssload-spin 990ms infinite linear;
  -o-animation: cssload-spin 990ms infinite linear;
  -ms-animation: cssload-spin 990ms infinite linear;
  -webkit-animation: cssload-spin 990ms infinite linear;
  -moz-animation: cssload-spin 990ms infinite linear;
}
@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 660px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 520px) {
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  // .container {
  //   padding-bottom: 24px;
  // }
}
