/* FONTS */
@font-face {
  font-family: "BeVietnamPro";
  src: local("BeVietnamPro"),
    url("@/assets/fonts/BeVietnamPro-Regular.woff2") format("woff2"),
    url("@/assets/fonts/BeVietnamPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnamPro";
    src: local("BeVietnamPro"),
      url("@/assets/fonts/BeVietnamPro-Medium.woff2") format("woff2"),
      url("@/assets/fonts/BeVietnamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnamPro";
    src: local("BeVietnamPro"),
      url("@/assets/fonts/BeVietnamPro-Bold.woff2") format("woff2"),
      url("@/assets/fonts/BeVietnamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* COLORS */
  /* Primary */
  --bright-red: hsl(12, 88%, 59%);
  --bright-red-light:hsla(12, 88%, 59%, 0.695);
  --dark-blue: hsl(228, 39%, 23%);
  /* Neutral */
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}
