/* MAIN */
body {
  min-width: 320px;
  font-family: "BeVietnamPro", sans-serif;
  font-weight: 400;
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue);
  background-image: url('/assets/images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: top -154px right -145px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 165px;
  padding-right: 165px;
}

.main-btn {
  width: 137px;
  box-shadow: 0 10px 20px -8px var(--bright-red);
}

.p-button-label {
  font-size: 0.7rem;
}

.p-message-text {
  color: var(--bright-red);
  font-style: italic;
  font-weight: 400;
}

.p-carousel-indicator {
  display: none;
}
