/* MEDIA */
@media (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .main__container {
    gap: 50px 30px;
  }

  .top__item {
    flex-direction: column;
  }

  .top__image {
    object-fit: cover;
  }
}

@media (max-width: 860px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .header {
    padding-top: 27px;
    padding-bottom: 15px;
  }

  .header__nav-list {
    gap: 10px 25px;
  }

  .main {
    padding-top: 16px;
  }

  .main__container {
    grid-template-columns: initial;
    gap: 72px 0;
  }

  .hero {
    max-width: initial;
    grid-column: initial;
    grid-row: 1 / 2;
  }

  .new {
    grid-row: 2 / 3;
  }

  .top {
    grid-row: 3 / 4;
    grid-column: initial;
  }

  .top__item {
    width: calc((100% - var(--top-card-gap)) / 2);
  }
}

@media (max-width: 600px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .main__container {
    gap: 64px 0;
  }

  .header__logo {
    width: 46px;
  }

  .header__nav-list {
    position: fixed;
    transform: translateX(100%);
    gap: 27px;
  }

  .header__btn {
    display: block;
  }

  .hero {
    grid-template-columns: initial;
    gap: 0;
  }

  .hero__image-wrapper {
    margin-bottom: 24px;
  }

  .hero__title {
    grid-column: 1 / 3;
    margin-bottom: 16px;
    font-size: 2.67rem;
    line-height: 2.67rem;
  }

  .hero__description-block {
    grid-column: 1 / 3;
  }

  .hero__description {
    margin-bottom: 26px;
  }

  .new {
    padding: 24px 22px;
  }

  .new__title {
    font-size: 2.1rem;
  }

  .top__block {
    gap: 32px;
    flex-direction: column;
  }

  .top__item {
    width: 100%;
    flex-direction: row;
  }

  .top__title {
    margin-bottom: 13px;
  }
}
