/* MEDIA */
@media (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .top__item {
    flex-direction: column;
  }

  .top__image {
    object-fit: cover;
  }
}

@media (max-width: 860px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .header__list {
    gap: 25px;
  }

  .main__container {
    grid-template-columns: initial;
    gap: 72px 0;
  }

  .hero {
    max-width: initial;
    grid-column: initial;
    grid-row: 1 / 2;
  }

  .new {
    grid-row: 2 / 3;
  }

  .top {
    grid-row: 3 / 4;

  }

  @media (max-width: 600px) {
    .container {
      padding-right: 16px;
      padding-left: 16px;
    }

    .section {
      padding-top: 18px;
      padding-bottom: 15px;
    }

    .header {
      padding-top: 27px;
    }

    .header__logo {
      width: 46px;
    }

    .hero {
      grid-template-columns: initial;
      gap: 25px;
    }

    .hero__title {
      grid-column: 1 / 3;
      font-size: 2.67rem;
      line-height: 2.67rem;
    }

    .hero__description-block {
      grid-column: 1 / 3;
    }

    .top__block {
      flex-direction: column;
    }

    .top__item {
      width: 100%;
      flex-direction: row;
    }
  }
}
