/* FONTS */
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans"),
    url("@/assets/fonts/NunitoSans.woff2") format("woff2"),
    url("@/assets/fonts/NunitoSans.woff") format("woff");
  font-style: normal;
  font-display: swap;
}


:root {
/* COLORS */
--white-darkBlue: hsl(0, 0%, 100%);
--white-veryDarkBlue: hsl(0, 0%, 100%);
--darkBlue-white: hsl(200, 15%, 8%);
--lightGray-darkBlue: hsl(0, 0%, 98%);
--veryLightGray-veryDarkBlue: hsl(0, 0%, 84%);

--dark-gray: hsl(0, 0%, 52%);

/* BLOCKS */
--gap: 75px;
--columns: 4;
}
