/* MAIN */
body {
  min-width: 320px;
  /* min-height: 100vh; */
  font-family: "NunitoSans", sans-serif;
  font-weight: 300;
  background-color: var(--white);
  color: var(--very-dark-blue-light);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 81px;
  padding-right: 81px;
}

.field {
  min-height: 56px;
  background-color: var(--white);
  box-shadow: 0 0 10px -2px var(--very-light-gray-shadow);
}

/* ANIMATION */

.appear-enter-active,
.appear-leave-active {
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}
.appear-enter-from,
.appear-leave-to {
  max-height: 0;
}
.appear-enter-to,
.appear-leave-from {
  max-height: 160px;
}

/* SKELETON */
.loading {
  background-color: #E2E2E2;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}


/* MEDIA */
@media (min-width: 1700px) {
  :root {
    --columns: 5;
  }
}

@media (max-width: 1300px) {
  :root {
    --columns: 3;
    --gap: 50px;
  }
}

@media (max-width: 960px) {
  :root {
    --columns: 2;
  }
  .container {
    // padding-left: 50px;
    // padding-right: 50px;
  }
}

@media (max-width: 768px) {
  :root {
    --columns: 1;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
