/* MAIN */
body {
  min-width: 320px;
  /* min-height: 100vh; */
  font-family: "NunitoSans", sans-serif;
  font-weight: 300;
  background-color: var(--white);
  color: var(--very-dark-blue-light);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 81px;
  padding-right: 81px;
}

.field {
  min-height: 56px;
  background-color: var(--white);
  box-shadow: 0 0 10px -2px var(--very-light-gray-shadow);
}

.section {
  /* padding-top: 89px;
  padding-bottom: 89px; */
}

/* ANIMATION */

@media (max-width: 1200px) {
  .container {
    /* padding-left: 50px;
    padding-right: 50px; */
  }
}
