@use '@/assets/styles/breakpoints' as *;

/* FONTS */
@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("@/assets/fonts/Manrope-Regular.woff2") format("woff2"),
    url("@/assets/fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("@/assets/fonts/Manrope-Medium.woff2") format("woff2"),
    url("@/assets/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("@/assets/fonts/Manrope-Bold.woff2") format("woff2"),
    url("@/assets/fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* COLORS */
  /* Primary */
  --orange: #D87D4A;
  --white: #FFFFFF;
  --black: #000000;
  --black-bckg: #131313;
  /* Secondary */
  --orange-lite: #fbaf85;
  --grey: #F1F1F1;
  --grey-lite: #FAFAFA;
  --grey-medium: #CFCFCF;
  --grey-medium-line: #979797;
  --grey-dark: #4C4C4C;
  --black-lite: #101010;
  --white20: #ffffff33;
  --white50: #ffffff80;
  --white75: #ffffffBF;
  --black50: #00000080;
  --black40: #00000066;
  /* Indents */
  --catBlocksGap: 30px;
  --catBlocksInRow: 3;
  --containerPadding: 165px;

  /* Media */
  @include media-query-l {
    --black-bckg: #191919;
    --containerPadding: 40px;
    --catBlocksGap: 10px;
  }
  @include media-query-md {
    --black-bckg: #1a1a1a;
  }
  @include media-query-sm {
    --containerPadding: 24px;
  }
}

