/* MAIN */
body {
  /* min-width: 210px; */
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--color-green-200-lighter);
  color: var(--color-grey-900-darker);
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.form {
  max-width: 735px;
  margin: 0 auto;
  padding-top: 128px;
  padding-bottom: 128px;
}

.form__wrapper {
  padding: 39px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.form__title {
  margin-bottom: 30px;
  font-size: 1.9rem;
}
