/* MAIN */
body {
  min-width: 300px;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--color-green-200-lighter);
  color: var(--color-grey-900-darker);
}

.container {
  display: flex;
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}

/* FORM */
.form {
  max-width: 735px;
  margin: 0 auto;
  padding-top: 128px;
  padding-bottom: 128px;
}

.form__wrapper {
  padding: 41px 43px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.form__title {
  margin-bottom: 26px;
  font-size: 1.9rem;
}

.form__double-col {
  display: flex;
  margin-bottom: 18px;
  gap: 17px;
}

.form__double-col div {
  flex: 1;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__query {
  display: flex;
  padding-left: 30px;
  gap: 15px;
  align-items: center;
}

.form__query_selected {
  background-color: var(--color-green-200-lighter);
}

.form__query input[type='radio'] {
  transform: scale(1.6);
  cursor: pointer;
  accent-color: var(--color-green-600-medium);
}

.form__box {
  margin-bottom: 21px;
}

.form__label {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 1rem;
}

.form__label_margin {
  margin-bottom: 22px;
}

.form__label_query {
  margin: 0;
  font-size: 1.15rem;
  cursor: pointer;
}

.form__required::after {
  content: "*";
  position: relative;
  left: 9px;
  color: var(--color-green-600-medium);
}

.form__input {
  width: 100%;
  min-height: 50px;
  padding-left: 31px;
  border-radius: 7px;
  font-size: 1.12rem;
  outline: 1px solid var(--color-grey-900-darker);
  transition: outline ease-in-out 0.3s;
}

.form__input-warning {
  outline: 1px solid var(--color-red);
}

.form__input:focus, .form__input:hover {
  outline: 1px solid var(--color-green-600-medium);
}

.form__textarea {
  padding: 11px 22px;
  font-size: 1.2rem;
  line-height: 1.7rem;
  border: none;
  resize: vertical;
}

.form__message {
  margin-bottom: 32px;
}

.form__agree {
  display: inline-block;
  padding-left: 7px;
  margin-bottom: 37px;
}

.form__agree-input {
  margin-right: 14px;
  transform: scale(1.6);
  cursor: pointer;
}

.form__agree input[type="checkbox"] {
  accent-color: var(--color-green-600-medium);
}

.form__agree-text {
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.form__btn {
  width: 100%;
  min-height: 59px;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--color-green-200-lighter);
  border-radius: 8px;
  background-color: var(--color-green-600-medium);
  transition: background-color ease-in-out 0.3s;
}

.form__btn:hover {
  background-color: var(--color-grey-900-darker);
}

.form__warning {
  display: none;
  font-size: 1rem;
  line-height: 2.1rem;
  color: var(--color-red);
}

/* SUCCESSFUL MODAL */
.successful {
  display: none;
  position: fixed;
  width: 450px;
  padding: 29px;
  top: 24px;
  flex-direction: column;
  border-radius: 13px;
  background-color: var(--color-grey-900-darker);
  opacity: 0;
  z-index: 1;
  animation: successfulFadeIn 0.8s forwards;
}

.successful__title {
  margin-bottom: 12px;
  padding-left: 30px;
  font-size: 1.15rem;
  color: var(--color-white);
  background-image: url('../assets/images/icon-success-check.svg');
  background-repeat: no-repeat;
}

.successful__message {
  font-size: 0.97rem;
  color: var(--color-green-200-lighter);
}

/* ANIMATION */
@keyframes successfulFadeIn {
  0% {
    top: 60px;
    opacity: 0;
  }
  100% {
    top: 24px;
    opacity: 1;
  }
}
