/* FONTS */
@font-face {
  font-family: "Alata";
  src: local("Alata"),
    url("../fonts/Alata-Regular.woff2") format("woff2"),
    url("../fonts/Alata-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JosefinSans-Light";
  src: local("JosefinSans-Light"),
    url("../fonts/JosefinSans-Light.woff2") format("woff2"),
    url("../fonts/JosefinSans-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

