body {
    min-width: 360px;
    font-family: 'Outfit', sans-serif;
    background-color: #d5e1ef;
}

.article {
    display: flex;
    max-width: 1440px;
    padding: 230px 0;
    margin: auto;
    justify-content: center;
}

.text-alignment {
    margin: 0;
    text-align: center;
}

.qr {
    display: flex;
    max-width: 290px;
    padding: 15px;
    gap: 24px;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.05);
}

.qr__wrapper {
    display: flex;
    padding: 0 15px;
    margin-bottom: 25px;
    gap: 18px;
    flex-direction: column;
}

.qr__image {
    border-radius: 10px;
}

.qr__title {
    font-size: 21px;
    line-height: 26px;
    color: hsl(218, 44%, 22%);
}

.qr__description {
    font-size: 15px;
    line-height: 20px;
    color: hsl(216, 15%, 48%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 480px) {
    .article {
        padding: 156px 0;
    }
}